@charset "UTF-8";

.comment-buttons {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.comment-buttons button {
    margin: 0;
}
    
.comment {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.comment-content {
    margin-bottom: 5px;
}

.comment-content div {
    margin-bottom: 5px;
}

.comment-content span {
    margin-right: 5px;
}

.comment-contents {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
}

.comment-buttons button {
    margin-right: 10px;
}

#comments-container {
    text-align: left;
    margin: 20px;
}

.comment-input textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.comment-buttons button {
    margin-right: 10px;
}

.comment .commentUpdateFinish {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* 추가한 스타일 */
}

    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      text-align : center;
    }

    h1 {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    #header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    #write-button {
      margin-left: 650px;
    }

    #board {
      width: 800px;
      margin: 0 auto;
    }

    .post {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }

    .post h2 {
      margin-top: 0;
    }

    .post p {
      margin-bottom: 5px;
    }

    .post-meta {
      display: flex;
      justify-content: space-between;
    }

		.post #boardDetail {
			text-align: left;
		}

    .check-box {
      width: 100px;
    }

    .board-number {
      width: 50px;
    }

    .board-title {
      flex: 1;
      margin-left: 10px;
    }
    
    .board-fixedYN {
    	width: 100px;
    }
    
    .board-view-count {
      width: 80px;
    }

    .board-writer {
      width: 100px;
    }

    .column-header {
      font-weight: bold;
      background-color: #f2f2f2;
      display: flex;
      justify-content: space-between;
      padding: 5px;
      border-bottom: 1px solid #ccc;
    }

    #write-button-container {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
    